/* elementos */
header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}

/* classes */
.container {
    padding: 0 5vw 0 250px;
    align-items: center;
    width: 70vw;
    display: flex;
    text-align: justify;

}

.contato p {
    font-weight: bolder;
    font-size: large;
}

.contato p #whatsapp {
    color: green;
    font-weight: bolder;
}

.contato p #mailadd {
    color: black;
}

.foto img {
    border-radius: 50%;
    max-width: 200px;
    width: auto;
    border-radius: 0.7;
    padding: 10px;
}

.exp-empresa {
    font-weight: bolder;
    font-size: large;
}

.exp-periodo {
    font-style: italic;
}

.formacao-inst,
.formacao-nome,
.curso-inst {
    font-weight: bolder;
}

.formacao {
    padding: 10px 0;
}

.curso {
    padding: 4px 0;
}

/* IDs */

#rodape {
    position: fixed;
    bottom: 0; 
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    z-index: 1000;
  }

/* media query de impressão */
@media print{
    header, #objetivo, #rodape {
        visibility: hidden;
    }
    body{
        padding-top: 20px;
    }
    #mailadd, #linkedin, #github{
        color: black;
    }
    .container {
        padding: 0 50px 0;
        width: auto;    
    }
}