header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}
.container {
    padding: 0 5vw 0 250px;
    align-items: center;
    width: 70vw;
    display: flex;
    text-align: justify;

}

.contato p {
    font-weight: bolder;
    font-size: large;
}

.contato p #whatsapp {
    color: green;
    font-weight: bolder;
}

.contato p #mailadd {
    color: black;
}

.foto img {
    border-radius: 50%;
    max-width: 200px;
    width: auto;
    border-radius: 0.7;
    padding: 10px;
}

.exp-empresa {
    font-weight: bolder;
    font-size: large;
}

.exp-periodo {
    font-style: italic;
}

.formacao-inst,
.formacao-nome,
.curso-inst {
    font-weight: bolder;
}

.formacao {
    padding: 10px 0;
}

.curso {
    padding: 4px 0;
}
@media print{
    header, img {
        visibility: hidden;
    }
}